// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}

.t-36 {
    font-size: 36;
}

// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }

    .control-container {

        max-height: 100;

        .control-item {
            margin: 5;
            padding: 5;

            .control-image {
                height: 64;
            }

            .control-label {
                horizontal-align: center;
                text-align: center;
            }
        }

    }

    .active-controls {
        vertical-align: center;
        horizontal-align: center;

        .control-image {
            height: 128;
        }

        .control-label {
            horizontal-align: center;
            text-align: center;
        }

        .control-btn {
            horizontal-align: center;
            text-align: center;
            font-weight: bold;
            font-size: 30;
        }
    }
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: left;
}

ActionBar .action-item {
    margin: 5;
}

TabStripItem Label {
    color: $blue-dark;
}

TabStripItem:active Label {
    color: $item-active-color;
}

TabStripItem Image {
    color: $blue-dark;
}

TabStripItem:active Image {
    color: $item-active-color;
}
